body {
    background: #0f0f0f;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.container {
    width: 95%;
    max-width: 1000px;
    margin-top: 20px;
    text-align: center;
}
img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
    border: 2px solid #333;
}
#status {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}